/* Custom Scrollbar Styles */
.custom-scroll::-webkit-scrollbar {
  width: 4px; /* Make scrollbar thin */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 10px; /* Round edges */
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background of the scrollbar track */
}

input,
textarea {
  border: 1px solid #ccc; /* Default border */
  border-radius: 4px; /* Optional: Rounded corners */
  padding: 8px; /* Optional: Inner spacing */
}

input:focus,
textarea:focus {
  outline: none; /* Remove the default outline */
  border: none; /* Remove the original border */
  box-shadow: 0 0 4px rgb(52, 255, 99); /* Add a custom focus style */
}
